In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({'A':[1,1,2,3,4],
                   'B':[3,6,3,8,9],
                   'C':['a','b','c','d','e']})

# we can use the .isnull() function to create a boolean mask of the whole DataFrame
mask = df.isnull

#We can drop the rows with missing values using the dropna() function
df.dropna()

# If we want to fill the missing values with, for example, 0, we can use the fillna
df.fillna(0, inplace= True)

# *NOTE*: In data without any NAs, passing na_filter = False, can improve the performance of reading a large file

# The method parameter() allows us to replace the NaN values by the value in the previous row (value ffill) or by the
# value in the next row (value bfill). Its important when using this method that the data is in order
df = df.fillna(method = 'ffill')

df

   A  B  C
0  1  3  a
1  1  6  b
2  2  3  c
3  3  8  d
4  4  9  e

In [4]:
# We can also do customized fill-in to replace values with the replace() function, which allows to value-to-value, list,
# dictionary or regex replacement
df.replace([1,3],[100,300])

     A    B  C
0  100  300  a
1  100    6  b
2    2  300  c
3  300    8  d
4    4    9  e

In [5]:
# To replace a regex...
df.replace(to_replace="\w", value="w", regex=True)

   A  B  C
0  1  3  w
1  1  6  w
2  2  3  w
3  3  8  w
4  4  9  w

In [ ]:
# *NOTE*: The statistical functions on DataFrames typically ignore missing values