# Question 1

In [1]:
import pandas as pd
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj1 = pd.Series(sdata)
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj2 = pd.Series(sdata, index=states)
obj3 = pd.isnull(obj2)

In [2]:
import math
math.isnan(obj2['California'])

True

In [3]:
obj3['California']

True

In [4]:
obj2['California'] == None

False

In [5]:
x = obj2['California']
obj2['California'] != x

True

In [6]:
obj2

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [7]:
obj1

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

# Question 2

In [10]:
import pandas as pd
d = {'1': 'Alice','2': 'Bob','3': 'Rita','4': 'Molly','5': 'Ryan'}
S = pd.Series(d)
print(S.iloc[0:3])

1    Alice
2      Bob
3     Rita
dtype: object

In [22]:
df = pd.DataFrame({'Serial No.': [1,2,3,4,5], 
                  'gre score': [337,324,316,322,314], 
                  'toefl score':[118, 107, 104, 110, 103]})
df = df.set_index('Serial No.')
df

            gre score  toefl score
Serial No.
1                 337          118
2                 324          107
3                 316          104
4                 322          110
5                 314          103

In [23]:
df.where(df['toefl score'] > 105).dropna()

            gre score  toefl score
Serial No.
1               337.0        118.0
2               324.0        107.0
4               322.0        110.0

In [24]:
df.where(df['toefl score'] > 105)

            gre score  toefl score
Serial No.
1               337.0        118.0
2               324.0        107.0
3                 NaN          NaN
4               322.0        110.0
5                 NaN          NaN

In [26]:
df[df['toefl score'] > 105]

            gre score  toefl score
Serial No.
1                 337          118
2                 324          107
4                 322          110

# Question 6

In [29]:
df = pd.DataFrame({'one':[0,4,8,12],
                   'two':[1,5,9,13],
                   'three':[2,6,10,14],
                   'four':[3,7,11,15]}, index = ['Ohio','Colorado','Utah','New York'])
df

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [30]:
df.drop('two')
df

KeyError: "['two'] not found in axis"

# Question 7

In [31]:
import pandas as pd
s1 = pd.Series({1: 'Alice', 2: 'Jack', 3: 'Molly'})
s2 = pd.Series({'Alice': 1, 'Jack': 2, 'Molly': 3})

In [32]:
s2.iloc[1]

2

In [33]:
s2[1]

2

In [35]:
s1.loc[1]

'Alice'

KeyError: 'Alice'