# Functions

In [2]:
pip install emoji --upgrade

Collecting emoji
  Downloading https://files.pythonhosted.org/packages/05/d9/6592e0879ba2e3e0cfc3bd381e6c9f7a71e0141c63f32b878be489f23558/emoji-2.1.0.tar.gz (216kB)
     |████████████████████████████████| 225kB 30.3MB/s eta 0:00:01
Building wheels for collected packages: emoji
  Building wheel for emoji (setup.py) ... done
  Created wheel for emoji: filename=emoji-2.1.0-cp37-none-any.whl size=212373 sha256=3b7ad12677e1267bf12e7386fac3992118c1fee423c5925daeb59c91ecb4da6b
  Stored in directory: /home/jovyan/.cache/pip/wheels/24/3d/de/ab85cf493a0d0adfb0b94e006c9b7da5989945037a78e32bda
Successfully built emoji
Installing collected packages: emoji
Successfully installed emoji-2.1.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
x = 1
y = 2
x + y

3

In [4]:
x

1

In [5]:
def add_numbers(x, y):
    return x + y

add_numbers (1,2)

3

In [6]:
def add_numbers (x, y, z=None):
    if (z == None):
        return x + y
    else:
        return x + y + z
print(add_numbers(1,2))
print(add_numbers(1,2,3))

3
6

# Types and sequences

In [7]:
type(x)

int

In [9]:
type(add_numbers)

function

__Tuples__

Una tupla es una secuencia de variables que en sí misma es invariable

In [6]:
x = (1,'a',2,'b')
type(x)

tuple

__List__

La lista es como una tupla pero sí que es modificable en todos sus aspectos.

In [8]:
y = [1,'a',2,'b']
type(y)

list

In [9]:
y.append(3.3)
print(y)

[1, 'a', 2, 'b', 3.3]

In [10]:
for item in y:
    print(item)

1
a
2
b
3.3

In [13]:
i = 0
while(i < len(y)):
    print(y[i])
    i = i + 1

1
a
2
b
3.3

In [29]:
z = (1,2,3,4,5)
print(min(z[-3:-1])),print(max(z[2:]))
print(x[0]),print(x[0:1]),print(x[0:2])

3
5
1
(1,)
(1, 'a')

(None, None, None)

In [25]:
x + z

(1, 'a', 2, 'b', 1, 2, 3, 4, 5)

In [27]:
y*3

[1, 'a', 2, 'b', 3.3, 1, 'a', 2, 'b', 3.3, 1, 'a', 2, 'b', 3.3]

In [28]:
1 in y

True

__Strings__

Strings work as lists of characters

In [32]:
firstname = "Jesus"
lastname = "Cantero"

print(firstname + " " + lastname)
print('Jesus' in firstname)

Jesus Cantero
True

In [35]:
firstname = "Jesus Angel Cantero Ramis".split(' ')[0]
print("Jesus Angel Cantero Ramis".split(' '))
print(firstname)

['Jesus', 'Angel', 'Cantero', 'Ramis']
Jesus

In [48]:
print("Jesus" + 2)

TypeError: can only concatenate str (not "int") to str

In [47]:
print("Jesus" + str(2))

Jesus2

In [50]:
training_record = {"series":4,
                  "reps":8,
                  "exercise": "press bench",
                  "athlete": "Jesus"}
training_statement = "{} made {} series and {} reps of {}"
print(training_statement.format(training_record["athlete"],
                               training_record["series"],
                               training_record["reps"],
                               training_record["exercise"]))

Jesus made 4 series and 8 reps of press bench

__Dictionaries__

They are like lists and tuples, but they have labeled elements which don't have a specific order. In order to access to a specific element, you need the key.

In [38]:
D = { "one": 1, "two":2}
D["one"]

1

In [39]:
D["Three"] = 3
D["Three"]

3

In [41]:
for number in D:
    print(D[number])

1
2
3

In [42]:
for value in D.values():
    print(value)

1
2
3

In [43]:
for number, value in D.items():
    print(number), print(value)

one
1
two
2
Three
3

In [44]:
x = (1,2,3)
one, two, three = x

In [45]:
one

1

In [46]:
two

2

__Reading and writing CSV files__

In [53]:
import csv

%precision 2

with open ('../resources/datasets/mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
    
mpg[:3]

[OrderedDict([('', '1'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'auto(l5)'),
              ('drv', 'f'),
              ('cty', '18'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '2'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'manual(m5)'),
              ('drv', 'f'),
              ('cty', '21'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '3'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '2'),
              ('year', '2008'),
              ('cyl', '4'),
              ('trans', 'manual(m6)'),
              ('drv', 'f'),
              ('cty', '20'),
              ('hwy', '31'),
              ('fl', 'p'),
              ('class', 'compact')])]

In [54]:
len(mpg)

234

In [55]:
mpg[0].keys()

odict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

In [56]:
sum(float(d["cty"]) for d in mpg)/len(mpg)

16.86

In [57]:
cylinders = set(d['cyl'] for d in mpg)
cylinders

{'4', '5', '6', '8'}

__Python Dates and Times__

In [58]:
import datetime as dt
import time as tm

In [59]:
tm.time()

1666174773.59

In [61]:
dtnow = dt. datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2022, 10, 19, 10, 20, 7, 7259)

In [62]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

(2022, 10, 19, 10, 20, 7)

In [63]:
delta = dt.timedelta(days=100)
today = dt.date.today()
today-delta

datetime.date(2022, 7, 11)

__Advanced Python Objects__

In [66]:
class Client:
    gym_location = "Benicasim"
    
    def set_name(self, new_name):
        self.name = new_name
    def set_gender(self, new_gender):
        self.gender = new_gender

In [68]:
client = Client()
client.set_name("Julia")
client.set_gender("female")

In [70]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
cheapest

__Python lambda and List Comprehensions__

Lambda functions are limited to a single expression and can't have default values

In [77]:
my_function = lambda a,b,c: a+b

In [76]:
(lambda a,b,c: a + b)(1,2,3)

3

In [78]:
my_function(1,2,3)

3

In [74]:
my_list = []
for number in range(0,1000):
    if number %2 == 0:
        my_list.append(number)
my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]

In [75]:
my_list = [number for number in range(0,1000) if number % 2 == 0]
my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]